{% extends "base.html" %}
{% csrf_token %}
<title>Home | Gamer Frontier</title>

{% block content %}

<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12 justify-content-center">
                <p class="h1">Welcome to the <strong>Gamer Frontier</strong>!</p>
                <p class="h3">Home of all the latest gaming news!</p>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        {% for post in post_list %}
        <div class="col-md-4">
            <div class="shadow-none card mb-4" id="newsfeed">
                <div class="card-body bg-success">
                    <div class="image-container">
                        {% if "placeholder" in post.featured_image.url %}
                        <img class="card-img-top"
                            src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                        {% else %}
                        <img class="card-img-top" src=" {{ post.featured_image.url }}">
                        {% endif %}
                    </div>
                    <h3 class="card-title">{{ post.title }}</h3>
                    <p class="card-text h6">
                        <span>
                            {{ post.author.first_name }} {{ post.author.last_name }}
                        </span>
                        | {{ post.created_on }}
                    </p>
                    <span>
                        <a href="{% url 'post_detail' post.slug %}" class="btn btn-outline-light">Read more</a>
                    </span>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% if is_paginated %}
<nav aria-label="Page navigation container"></nav>
<ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li>
        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-info">
            << Previous</a>
    </li>
    {% endif %}
    {% if page_obj.has_next %}
    <li>
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-info"></a>
    </li>
    {% endif %}
</ul>
{% endif %}
{% endblock %}