 {% extends 'base.html' %}
 {% csrf_token %}
 <title>
     {{ object.title }}
 </title>
 {% block content %}
 <div class="masthead">
     <div class="container">
         <div class="row">


             <div class="d-none d-md-block mt-3 col-md-8 offset-md-2 masthead-image">
                 {% if "placeholder" in post.featured_image.url %}
                 <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
                 {% else %}
                 <img src=" {{ post.featured_image.url }}" width="100%">
                 {% endif %}
             </div>
             <div class="col-md-6 masthead-text">
                 <h1 class="post-title">{% block title %} {{ object.title }} {% endblock title %}</h1>
                 <p class="post-subtitle">{{ object.author.first_name }} {{ object.author.last_name }}
                     |{{ object.created_on }}</p>
                 <p class="lead">{{ object.content | safe }}</p>
             </div>
         </div>
         <div class="row">
             <div class="col-md-12 justify-content-center">
                <a href="{% url 'home' %}" class="btn btn-outline-light">back to home</a>
             </div>
         </div>
     </div>
 </div>
 {% endblock %}